/coverage
/node_modules
/public/css
/public/fonts
/public/hot
/public/img
/public/js
/public/media
/public/storage
/public/vendor
/public/video
/storage/*.key
/vendor
/.docker-sync
/.idea
/.vscode
/.vagrant
.DS_Store
.env
.phpunit.result.cache
composer.lock
Homestead.json
Homestead.yaml
node_modules
npm-debug.log
phpstan.neon
yarn-error.log
/resources/views/vendor/*
