.width-fit{
  width: fit-content;
}

.right-15{
  right: 15px;
}

.hover-blue:hover{
  background: rgba(110, 203, 191, 0.1);
}

.color-semigary{
  color: rgba(107, 114, 128);
}

.container{
  width: 100% !important;
  max-width: 100% !important;
}
